* {
    margine: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 0;
}

.navbar_content{
    width: 88%;
    margin-left: 6%;
}

.content {
    margin-top: 4em;
}

.navbar_main{
    font-family: Haettenschweiler, sans serif; 
    text-decoration: none;
    color: white;
    font-size: 2em;
}

.navbar{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    background-color: #333333;
}

.buttons_list{
    margin-left: 5%;
}

.buttons_list li{
    margin-right: 1em;
}
.buttons_list a{
    font-size: 1em;
    text-decoration: none;
    color: white;
}

.button{
    padding: 0.5em;
    border-radius: 0.2em;
    height: fit-content;
    background-color: #333333;
}

.main_header{
    min-width: 470px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 1em;
    border-radius: 0.5em;
    align-items: center;
    justify-content: space-between;
    background-color: #333333;
}

.main_header ul{
    list-style-type: none;
}

.main_header .label{
    font-family: Haettenschweiler, sans serif; 
    color: white;
}

.main_header_list li{
    display: inline-block;
}

.search{
    float: right;
    margin-top: 2em;
    margin-right: 2em;
}

.board_table{
    min-width: 470px;
    width: 90%;
    margin-left: 5%;
    border-collapse: collapse;
}

.board_table thead{
    background-color: #333333;
    color: white;
}

.board_table th, td {
    padding: 15px;
    text-align: left;
}

.board_table td a{
    text-decoration: none;
    color: black;
}

.board_table tr{
    border-bottom: 1px solid grey;
}

.label{
    margin-left: 2em;
}

.board_table tbody tr:hover{
    background-color: #FDF5E6;
}